n8n/workflows/linkedin_analysis_trigger.json
{
  "name": "LinkedIn Import & Analysis Trigger",
  "nodes": [
    {
      "parameters": {
        "path": "linkedin-imported",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "LinkedIn ZIP Imported",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "linkedin-imported-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-event-check",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "profile_imported",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-validate-event",
      "name": "Valid Import Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/settings",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-get-settings",
      "name": "Fetch Career Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/analysis/linkedin",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target_role: $json.target_roles?.[0] ?? 'Software Engineer' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-analyze-linkedin",
      "name": "Run LinkedIn Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/analysis/synthesis",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target_role: $('Fetch Career Settings').first().json.target_roles?.[0] ?? 'Software Engineer' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-synthesize",
      "name": "Synthesize Career Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "=LinkedIn profile analysed. Overall career score: {{ $json.overall_score }}/100. Weekly actions generated: {{ $json.weekly_actions?.length ?? 0 }}."
            },
            {
              "name": "overall_score",
              "value": "={{ $json.overall_score }}"
            },
            {
              "name": "linkedin_score",
              "value": "={{ $json.linkedin_score }}"
            }
          ]
        }
      },
      "id": "node-log-success",
      "name": "Analysis Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', message: 'LinkedIn analysis triggered', score: $('Analysis Complete').first().json.overall_score }) }}"
      },
      "id": "node-respond",
      "name": "Respond to Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ignored', reason: 'event is not profile_imported' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-ignore-event",
      "name": "Ignore Unknown Event",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 420]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_workflow",
              "value": "LinkedIn Analysis Trigger"
            },
            {
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}"
            },
            {
              "name": "error_node",
              "value": "={{ $json.execution.lastNodeExecuted }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "node-log-error",
      "name": "Log Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 560]
    }
  ],
  "connections": {
    "LinkedIn ZIP Imported": {
      "main": [
        [{ "node": "Valid Import Event?", "type": "main", "index": 0 }]
      ]
    },
    "Valid Import Event?": {
      "main": [
        [{ "node": "Fetch Career Settings", "type": "main", "index": 0 }],
        [{ "node": "Ignore Unknown Event", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Career Settings": {
      "main": [
        [{ "node": "Run LinkedIn Analysis", "type": "main", "index": 0 }]
      ]
    },
    "Run LinkedIn Analysis": {
      "main": [
        [{ "node": "Synthesize Career Score", "type": "main", "index": 0 }]
      ]
    },
    "Synthesize Career Score": {
      "main": [
        [{ "node": "Analysis Complete", "type": "main", "index": 0 }]
      ]
    },
    "Analysis Complete": {
      "main": [
        [{ "node": "Respond to Backend", "type": "main", "index": 0 }]
      ]
    },
    "On Workflow Error": {
      "main": [
        [{ "node": "Log Error Details", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": true,
    "timezone": "Asia/Kolkata"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "career-os-local"
  },
  "tags": ["career-os", "linkedin", "webhook", "analysis"]
}
