n8n/workflows/readme_generator.json
{
  "name": "Manual README Generator",
  "nodes": [
    {
      "parameters": {
        "path": "generate-readme",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Generate README Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "generate-readme-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-repo",
              "leftValue": "={{ $json.body.repo_full_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-validate-input",
      "name": "Has repo_full_name?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo_full_name",
              "value": "={{ $json.body.repo_full_name }}"
            },
            {
              "name": "push_to_github",
              "value": "={{ $json.body.push_to_github === true ? 'true' : 'false' }}"
            }
          ]
        }
      },
      "id": "node-extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 220]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/github/readme/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ repo_full_name: $json.repo_full_name }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-generate-readme",
      "name": "Generate README via AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-should-push",
              "leftValue": "={{ $('Extract Parameters').first().json.push_to_github }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-push-decision",
      "name": "Auto-Push to GitHub?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/github/readme/push",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ repo_full_name: $('Extract Parameters').first().json.repo_full_name, content: $('Generate README via AI').first().json.readme_markdown }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-push-readme",
      "name": "Push README to GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 160],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'pushed', repo: $('Extract Parameters').first().json.repo_full_name, sha: $json.sha, suggestion_id: $('Generate README via AI').first().json.suggestion_id }) }}"
      },
      "id": "node-respond-pushed",
      "name": "Respond: README Pushed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'generated', repo: $('Extract Parameters').first().json.repo_full_name, readme_markdown: $json.readme_markdown, suggestion_id: $json.suggestion_id }) }}"
      },
      "id": "node-respond-generated",
      "name": "Respond: README Generated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'error', message: 'repo_full_name is required in the request body' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "node-respond-invalid",
      "name": "Respond: Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 420]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_workflow",
              "value": "Manual README Generator"
            },
            {
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}"
            },
            {
              "name": "error_node",
              "value": "={{ $json.execution.lastNodeExecuted }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "node-log-error",
      "name": "Log Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 560]
    }
  ],
  "connections": {
    "Generate README Webhook": {
      "main": [
        [{ "node": "Has repo_full_name?", "type": "main", "index": 0 }]
      ]
    },
    "Has repo_full_name?": {
      "main": [
        [{ "node": "Extract Parameters", "type": "main", "index": 0 }],
        [{ "node": "Respond: Bad Request", "type": "main", "index": 0 }]
      ]
    },
    "Extract Parameters": {
      "main": [
        [{ "node": "Generate README via AI", "type": "main", "index": 0 }]
      ]
    },
    "Generate README via AI": {
      "main": [
        [{ "node": "Auto-Push to GitHub?", "type": "main", "index": 0 }]
      ]
    },
    "Auto-Push to GitHub?": {
      "main": [
        [{ "node": "Push README to GitHub", "type": "main", "index": 0 }],
        [{ "node": "Respond: README Generated", "type": "main", "index": 0 }]
      ]
    },
    "Push README to GitHub": {
      "main": [
        [{ "node": "Respond: README Pushed", "type": "main", "index": 0 }]
      ]
    },
    "On Workflow Error": {
      "main": [
        [{ "node": "Log Error Details", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveExecutionProgress": true,
    "timezone": "Asia/Kolkata"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "career-os-local"
  },
  "tags": ["career-os", "github", "readme", "webhook"]
}
