n8n/workflows/weekly_job_sync.json
{
  "name": "Weekly Job Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Every Monday 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/settings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 15000
        }
      },
      "id": "node-get-settings",
      "name": "Get Career Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-roles",
              "leftValue": "={{ $json.target_roles }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-check-roles",
      "name": "Has Target Roles?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "target_roles",
        "options": {}
      },
      "id": "node-split-roles",
      "name": "Split by Role",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {
        "url": "=http://backend:8000/api/jobs/search?title={{ encodeURIComponent($json.target_roles) }}&limit=30",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-search-jobs",
      "name": "Search Jobs per Role",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=http://backend:8000/api/jobs/keywords?title={{ encodeURIComponent($('Split by Role').item.json.target_roles) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-extract-keywords",
      "name": "Extract JD Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/analysis/synthesis",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ target_role: $('Split by Role').item.json.target_roles }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-synthesize",
      "name": "Synthesize Career Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 240],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "=Weekly job sync completed for role: {{ $('Split by Role').item.json.target_roles }}. Overall score: {{ $json.overall_score }}. Actions: {{ $json.weekly_actions?.length || 0 }} generated."
            }
          ]
        }
      },
      "id": "node-log-success",
      "name": "Log Sync Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "warning",
              "value": "Weekly Job Sync skipped — no target_roles configured in settings."
            }
          ]
        }
      },
      "id": "node-no-roles",
      "name": "No Roles Configured",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 420]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_workflow",
              "value": "Weekly Job Sync"
            },
            {
              "name": "error_message",
              "value": "={{ $json.execution.error.message }}"
            },
            {
              "name": "error_node",
              "value": "={{ $json.execution.lastNodeExecuted }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "node-log-error",
      "name": "Log Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 560]
    }
  ],
  "connections": {
    "Every Monday 7AM": {
      "main": [
        [{ "node": "Get Career Settings", "type": "main", "index": 0 }]
      ]
    },
    "Get Career Settings": {
      "main": [
        [{ "node": "Has Target Roles?", "type": "main", "index": 0 }]
      ]
    },
    "Has Target Roles?": {
      "main": [
        [{ "node": "Split by Role", "type": "main", "index": 0 }],
        [{ "node": "No Roles Configured", "type": "main", "index": 0 }]
      ]
    },
    "Split by Role": {
      "main": [
        [{ "node": "Search Jobs per Role", "type": "main", "index": 0 }]
      ]
    },
    "Search Jobs per Role": {
      "main": [
        [{ "node": "Extract JD Keywords", "type": "main", "index": 0 }]
      ]
    },
    "Extract JD Keywords": {
      "main": [
        [{ "node": "Synthesize Career Score", "type": "main", "index": 0 }]
      ]
    },
    "Synthesize Career Score": {
      "main": [
        [{ "node": "Log Sync Success", "type": "main", "index": 0 }]
      ]
    },
    "On Workflow Error": {
      "main": [
        [{ "node": "Log Error Details", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "On Workflow Error",
    "saveExecutionProgress": true,
    "timezone": "Asia/Kolkata"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "career-os-local"
  },
  "tags": ["career-os", "jobs", "scheduled"]
}
