n8n/workflows/weekly_job_sync.json
{
  "name": "Weekly Job Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 7 * * 1"}]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/settings",
        "method": "GET"
      },
      "name": "Get Settings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "target_roles",
        "options": {}
      },
      "name": "Split Target Roles",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "={{'http://backend:8000/api/jobs/search?title=' + encodeURIComponent($json.target_roles) + '&limit=30'}}",
        "method": "GET"
      },
      "name": "Search Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{'http://backend:8000/api/jobs/keywords?title=' + encodeURIComponent($json.target_roles)}}",
        "method": "GET"
      },
      "name": "Extract Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/analysis/synthesis",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({target_role: $json.target_roles})}}"
      },
      "name": "Synthesize Career Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "content": "={{$json.error.message}}"
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [450, 500]
    }
  ],
  "connections": {
    "Cron": {"main": [[{"node": "Get Settings", "type": "main", "index": 0}]]},
    "Get Settings": {"main": [[{"node": "Split Target Roles", "type": "main", "index": 0}]]},
    "Split Target Roles": {"main": [[{"node": "Search Jobs", "type": "main", "index": 0}]]},
    "Search Jobs": {"main": [[{"node": "Extract Keywords", "type": "main", "index": 0}]]},
    "Extract Keywords": {"main": [[{"node": "Synthesize Career Score", "type": "main", "index": 0}]]},
    "Error Trigger": {"main": [[{"node": "Log Error", "type": "main", "index": 0}]]}
  },
  "settings": {
    "errorWorkflow": "Weekly Job Sync",
    "saveExecutionProgress": true
  }
}
